
        .sad{
            width:850px;
            height:auto;
            
        }
        .sid{
            align-self: center;
        }
        h1{
            font-size:80px;
        }
        .sighting{
            width:100vw;
            height:2000px;
            display:flex;
            justify-content:space-around;
            background-image: linear-gradient(10deg,rgba(194, 182, 96, 0.741),rgba(90, 176, 136, 0.758));
            flex-direction: column;}
            